.mainPanel{
    padding: 20px;
    width: 1024px;
    border: 1px solid;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 400px;
}
:host ::ng-deep p-progressspinner div.ui-progress-spinner{
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.alignIcon{
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    top: 40%;
    right: 26%;
  }
  
  .btnn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .upload-btn-wrapper:hover{
    
  }
  .btn1{
      width: 100%;
      margin: 10px;
  }

  .snapshot-generator {
    display: block;
    height: 1px;
    left: 0;
    object-fit: contain;
    position: fixed;
    top: 0;
    width: 1px;
    z-index: -1;
  }