<input type='checkbox' id='form-switch'>
<form id='login-form' [formGroup]="loginForm" (ngSubmit)="onLoginSubmit(loginForm.value)">
    <input type="email" placeholder="Email" formControlName="email" required>
    <input type="password" placeholder="Password" formControlName="password" required>
    <button type='submit' [disabled]="!loginForm.valid">Login</button>
    <label for='form-switch'><span>Register</span></label>
</form>
<form id='register-form' [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit(registerForm.value)">
    <input type="text" placeholder="Username" formControlName="username" required>
    <input type="email" placeholder="Email" formControlName="email" required>
    <input type="password" placeholder="Password" formControlName="password" required>
    <button type='submit' [disabled]="!registerForm.valid">Register</button>
    <label for='form-switch'>Already Member ? Sign In Now..</label>
</form>